#plugin-grid {
    layout: grid;
    grid-columns: 1fr 1fr 1fr;
    grid-rows: auto auto auto;
    grid-gutter: 1;
    padding: 1;
}

#hex-scroll {
    border: solid gray;
    color: green;
    background: black;
    height: 5;
    content-align: center middle;
    text-style: bold;
}